@import "bulma/sass/utilities/_all";

$size: 10px;

.art {
  position: relative;
  width: calc(21 * #{$size}); // Pixel size * # of columns
  height: calc(21 * #{$size}); // Pixel size * # of rows
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
  }
}

.fire, .pot {
  border: 3px solid $grey-light;
}

fieldset, .actions {
  border: 3px solid $grey-light;
}

.button {
  width: 200px;
  border: 3px solid $grey-light;
  border-color: $grey-light;
  border-width: 3px;
  background: $black;
  color: $grey-light;
}

.button:focus, .button.is-focused {
  color: $grey-dark;
  border: 3px solid $grey-dark;
}

.actions .button {
  width: 100px;
}
.title {
  color: $grey-light;
}

.card {
  border: 3px solid $grey-light;
  background-color: $black;
  color: $grey-light;
}

.log {
  width: 100%;
  color: $grey-light;
  border: 3px solid $grey-light;
  background-color: $black;
}
.log.big-log {
  height: 150px;
  max-height: 150px;
}

#app {
  background-color: black;
  height:100%;
  color: $grey-light;
}

.app-fire-kindled {
  background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 10%);
  background-repeat: none;
  animation: kindled 4s ease infinite;
  -webkit-animation: kindled 4s ease infinite; 
}

@keyframes kindled {
  0%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 10%)
  }
  25%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 35%)
  }
  50%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 20%)
  }
  75%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 50%)
  }
}

.app-fire-crackling {
  background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 25%);
  background-repeat: none;
  animation: crackling 4s ease infinite;
  -webkit-animation: crackling 4s ease infinite; 
}

@keyframes crackling {
  0%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 25%)
  }
  25%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 60%)
  }
  50%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 45%)
  }
  75%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 75%)
  }
}

.app-fire-roaring {
  background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 50%);
  background-repeat: none;
  animation: roaring 4s ease infinite;
  -webkit-animation: roaring 4s ease infinite; 
}

@keyframes roaring {
  0%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 50%)
  }
  25%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 85%)
  }
  50%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 60%)
  }
  75%{
    background-image: radial-gradient(ellipse at bottom, rgba(255, 155, 61, 0.473), transparent 100%)
  }
}

html, 
body {
    height: 100%;
}

@import "pot.scss";
@import "fire.scss";